### Project Scenario

<p>
    An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF).

The required data seems to be available on the URL mentioned below:
</p>

###### URL :
https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

#### Objective

After completing this lab you will be able to:

- Use Webscraping to extract required information from a website.
- Use Pandas to load and process the tabular data as a dataframe.
- Use Numpy to manipulate the information contatined in the dataframe.
- Load the updated dataframe to CSV file.

#### Set Up

For this lab, we will be using the following libraries:

- Pandas for managing the data.
- Numpy for mathematical operations.

In [1]:
# Importing Required Libraries

import pandas as pd
import numpy as np

In [2]:
# Suppress warnings generated by the code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

#### Exercises :

##### Exercise 1 :

Extract the required GDP data from the given URL using Web Scraping.

In [36]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(url)
df = tables[3]
# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country', 'GDP (Million USD)']

# Show the data
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

##### Exercise 2 :
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the round() method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to GDP (Billion USD).

In [37]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df["GDP (Million USD)"] = df["GDP (Million USD)"].astype(int)
 
# Convert the GDP value in Million USD to Billion USD
df["GDP (Million USD)"] = df["GDP (Million USD)"] / 1000
# Use numpy.round() method to round the value to 2 decimal places.
df["GDP (Million USD)"] = df["GDP (Million USD)"].round(2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {"GDP (Million USD)" : "GDP (Billion USD)"})

df

           Country  GDP (Million USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [34]:
# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.columns = ['Country', 'GDP (Billion USD)']
df

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

##### Exercise 3 :
Load the DataFrame to the CSV file named "Largest_economies.csv"

In [38]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv(./"Largest_economies.csv")

SyntaxError: invalid syntax (2338471863.py, line 2)