# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby

##### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

##### Some Data Science tools commonly used are :

|Data Science Tools|
|:----------------:|
|Python|
|R|
|Tableau|
|Power BI|

##### Below are a few examples of evaluating arithmetic expressions in Python.

$x^2$

$x+y$

$x-y$

$x*y$

$x/y$

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

# Objective of this notebook

* Learn how to use Markdown
* How to format Markdown
* How to use Jupyter Notebook
* List of popular languages of datascience
* List of popular tools of datascience

### Author
Devjyoti Jana